[submodule "dictionaries"]
	path = dictionaries
	url = https://github.com/chenmiaowei/dictionaries
	branch = .
[submodule "helpcontent2"]
	path = helpcontent2
	url = https://github.com/chenmiaowei/help
	branch = .
[submodule "translations"]
	path = translations
	url = https://github.com/chenmiaowei/translations
	branch = .
